# [Planet MySQL :: Planet MySQL - Archives - [MySQL] table_cache, max_connections, open_files_l...](https://planet.mysql.com/entry/?id=19646)
[mysqld]
thread_cache_size = 50
max_allowed_packet=32MB

innodb_file_per_table=1
innodb_large_prefix=1
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
# 0=no commit, 1=every, 2=per 1sec
innodb_flush_log_at_trx_commit=0
# recommendation Max Memory Size * 0.8
innodb_buffer_pool_size=4G
# recommendation large
innodb_log_file_size=512M
innodb_buffer_pool_instances=8
innodb_sync_array_size=16

# cpu
table_open_cache_instances=8
innodb_autoextend_increment=64MB

tmp_table_size=20M
max_heap_table_size=20M

sql_mode=TRADITIONAL
character_set_server=utf8mb4
collation_server=utf8mb4_bin
skip_character_set_client_handshake

[client]
default_character_set=utf8mb4
