[mysqld]
max_connections = 100
max_allowed_packet=16MB
innodb_file_per_table=ON

# 0=no commit, 1=every, 2=per 1sec
innodb_flush_log_at_trx_commit=0
# recommendation Max Memory Size * 0.8
innodb_buffer_pool_size=4G
# recommendation large
innodb_log_file_size=1G
innodb_buffer_pool_instances=8
innodb_sync_array_size=16
# max_connections * max opened table size
table_open_cache=5000
# cpu
table_open_cache_instances=8
innodb_autoextend_increment=64MB

sql_mode=TRADITIONAL
character_set_server=utf8mb4
collation_server=utf8mb4_bin
skip_character_set_client_handshake

[client]
default_character_set=utf8mb4


# show variables like '%trx%';
# show variables like '%table%';
